@use '../abstracts/_variables' as *;
@use "sass:map"; //sass module for map.get (map-get is gonna be deprecated soon apparently)

@mixin respond-to-max($size) {
  @media (max-width: map.get($breakpoints, $size)) {
    @content;
  }
}

@mixin respond-to-min($size) {
  @media (min-width: map.get($breakpoints, $size)) {
    @content;
  }
}