$font-family-text :"Poppins", sans-serif;
$font-family-title :"Kaisei Decol", serif;

$black:#000000;
$white:#ffffff;
$gold:#AB864C;

$breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);