:root{
    --green-lightcolor :rgb(125, 160, 59);
    --green-darkcolor :rgb(53, 82, 36);
    --beige-lightcolor :rgb(201, 167, 93);
    --beige-darkcolor :rgb(173, 137, 57);

    --title-font :"Playfair Display", serif;;
    --text-font :"Lato", sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--text-font);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    font-family: var(--title-font);
    color: var(--beige-darkcolor);
}
main{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#boutique{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--green-darkcolor);
    flex-grow: 1; /* for big screen width*/
}

@media (max-width: 1100px) {
 
    main{
        flex-direction: column;
        width: 100%;
    }

    #boutique{
        width: 100%;
    }
}

h2{
    align-self: center;
    font-family: var(--title-font);
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.grid-produits{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;

    padding: 20px;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15px 5px;
    width: 190px;

    
    background-color: var(--beige-lightcolor);
    border-radius: 20px;
}

.card__img{
    border-radius: 50%;
}

.card h3{
    margin: 5px;
}

.card__price{
    margin: 5px;

}
.card__addToCartBttn{
    border-style: none;
    padding: 5px 10px;
    background-color: var(--green-lightcolor);
    border-radius: 10px;
    cursor: pointer;

}


#panier-section{
    display: flex;
    flex-direction: column;

    align-items: center; /* order box*/

    background-color: var(--green-lightcolor)
}

.empty-cart-p{
    text-align: center;
}

.cartCard{
    display: flex;
    align-items: center;
    background-color: var(--beige-darkcolor);
    width: 600px;
}
@media (max-width: 1100px) {
    
    #panier-section{
        width: 100%;
    }

    #panier-liste{
        width: 100%;

    }   
    .cartCard{
        width: 100%;
    }
}


.odd{
    background-color: var(--beige-lightcolor);
}
.cartCard__img{
    padding: 10px;
    height: 100px;
    order : 0;
    border-radius: 20px;
}

.cartCard__name{
    order: 1;
    padding-right: 20px;
}

.cartCard__price{
    order: 2;
    padding-right: 10px;
}

.cartCard__amountWrapper{
    order: 3;
    margin: 0 20px 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cartCard__amountWrapper button{
    
    height: 20px;
    width:20px;
    background-color: var(--green-lightcolor);
    border-style: none;
    border-radius: 5px;

    cursor: pointer;
}

.cartCard__amountWrapper__removeFromCartBttn{
    order: 0;
}

.cartCard__amountWrapper__amount{
    order: 1;

    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.cartCard__amountWrapper__addToCartBttn{
    order: 2;
}


.cartCard__subtotal{
    order: 4;
    padding : 0 10px 0 0;
    width: 90px;
    text-align: right;
    font-weight: bold;
    font-size: 1.3rem;

}

/*for the tiny screens*/
@media (max-width: 550px) {
    
    .cartCard__img{
        height: 50px;
    }

    .cartCard__price{
        font-size: 0.8rem;
    }

    .cartCard__name{
        font-size: 0.9rem;
    }

    .cartCard__amountWrapper{
        margin: 0 10px 0 auto;

    }
    .cartCard__amountWrapper__amount{
        font-size: 0.8rem;

    }
    .cartCard__subtotal{
        width: 70px;

        font-size: 0.9rem;
    }
}

.total-section {
    text-align: right;
    align-self: stretch;
    padding : 0 20px 0 0;
    font-size: 1.3rem;
    font-weight: bold;

}

.commande-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
    padding: 20px;
    margin: 20px;
    min-width: 50%;
    background-color: var(--green-darkcolor);
    border-radius: 20px;
}

.commande-box h3{
    text-align: center;
    color: var(--beige-lightcolor);
    font-size: 1.3rem;
    text-transform: uppercase;
}

.feedback-error{
    padding: 10px 20px;
    color: white;
    background-color: brown;
    border-radius: 5px;
    border: 2px dashed rgb(255, 0, 0);
}

#email-client{
    text-align: center;
    padding: 5px 40px;
}

#btn-commander{
    padding: 5px 40px;
    border: 3px ridge var(--beige-darkcolor);
    background-color: var(--beige-lightcolor);
    cursor: pointer;
}
.feedback-valid{
    padding: 10px 20px;
    color: white;
    background-color: var(--green-lightcolor);
    border-radius: 5px;
    border: 2px solid rgb(9, 255, 0);}


.hidden{
    display: none;
}